/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px gray;
}

h1 {
  color: darkblue;
}

button {
  margin-top: 15px;
  padding: 12px 20px;
  border: none;
  background-color: royalblue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: darkblue;
}